body{
  margin: 0;
  font-family: Arial, Sans Serif;
  color: rgb(11, 37, 84);
  background-color: rgb(245, 232, 201);
}

header{
  background: rgb(11, 37, 84);
  color: rgb(245, 232, 201);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo{
  font-size: 1.5em;
}

.navlinks{
  list-style: none;
  display: flex;
  gap: 15px;
}

.navlinks a{
  color: rgb(245, 232, 201);
  text-decoration: none;
  font-weight: bold;
}

table{
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td{
  border: 1px solid;
  padding: 10px;
  text-align: left;
}

.buy-section{
  display: flex;
  flex-direction: column;
}
